fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
websockets
aio-pika
requests
cryptography
